.how-it-works-container {
    display:flex;
    margin-left: 12%;
    margin-right: 12%;
}

.obj{
    display: grid;
    grid-template-columns: 50% 35%;
    gap: 15%;
    font-size:1.4rem;
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}
.obj p{
    text-align:left;

}

.how-it-works-container img{

    border-radius:2rem;
}

@media screen and (max-width:768px){
    p {font-size:15px;}
    .obj{
        gap: 5%;
        grid-template-columns: none;}
}