.contact__options h5 {
  font-size: 13px;
}

.contact__options {
  display: grid;
  grid-template-columns: 35% 35%;
  justify-content: center;
  gap:4rem;
}

.contact__option {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
align-content: center;
justify-items: center;
justify-content: center;
align-items: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact__option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.contact__option-icon {
  font-size: 5rem;
  margin-bottom: 0.5rem;
}

.contact__option a{
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 1rem;
  color:var(--color-primary);
}

.contact__option h5 {
  color: var(--color-light);
}

.contact__option h4 {
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .contact__options h5 {
    display: none;
  }

  .container.contact__container {
    width: var(--container-width-sm);
  }
  .contact__options {
    grid-template-columns: 50% 50%;
    padding:0rem;
    gap: 1rem;
  }

.contact__option-icon {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}


.contact__option h4 {
  font-size: 0.7rem;
}

.contact__option span {
  font-size: 0.7rem;
  line-height: normal;
 
}

}
