header {
  height: 100%;
  overflow: hidden;
  padding-top:7rem;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.cta {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.header__socials {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 5rem;
  bottom: 1rem;
}

.header__socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.scroll__down {
  position: absolute;
  right: 3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

h5{
  color: white;
}


.image-container img{
  display:none;
}

@media screen and (max-width: 1024px){
  header {
    height: 120vh;
  }

  section {
    margin-top: 6rem;
  }

}

@media screen and (max-width:768px){
  header {
    height: 130vh;
  }

  .image-container{
    display: grid;
    grid-template-columns: 1fr 250px 1fr;

  }
  .image-container img {
 
    display:flex;
    height: 250px
    ;width: 250px;
   
    border-radius: 50%;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}