#why-me .img img{
  display:flex;
    margin-top: 20px;
    height: 475px;
    width: 475px;
    border-radius: 50%;
}


#why-me .container{
    display:grid;
    grid-template-columns: 50% 50%;

  }

#why-me .container .header{
  background-color: var(--color-bg-variant);
  border-radius: 35px;
  height: 525px;

}
#why-me h5 {
  color: var(--color-white);
}

.header {
    margin-left: 10%;
    margin-right:10%;
  padding:50px;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 20px;
}
.header h3 {
  color: var(--color-primary);
  font-size:0.9rem;

}

.header h4,h5 {
    font-size:0.9rem;
    padding-bottom:20px;
}

.header p {
    text-align:left;
    font-size:0.8rem;
    color:var(--color-light)
}
.header span {
    color:var(--color-primary)
}

#why-me .container h5{
    font-size:1rem;
    line-height: 1.7;
    text-align: justify;
}


@media screen and (max-width: 768px){
  #why-me .container .header{
      height: 300px;
      padding:25px;  
  }
  .header {
    margin-left: 5%;
    margin-right:5%;
    margin-top:0px;
    padding-bottom:0px;
  }
#why-me .container{
    display:grid;
    grid-template-columns: none;
    grid-template-rows:50% 50%;
      height: 150vh;}

#why-me .img img{
  display:none;
}

#why-me .container-text{
margin-top:150px;

}
}
