#prices {
  margin-left: 12%;
  margin-right: 12%;
  text-align: justify;
  line-height: 1.7;
  font-size: 1rem;
  color: var(--color-light);

}

#prices img{
    border: 15px;
    border-radius:3rem;

}

h2{
    font-size:1.3rem;
}
.container-price{
display: grid;
grid-template-columns: 50% 40%;
gap: 10%;
margin-bottom: 50px;
}

.container-text{}
.container-pic{width: 75%;}

.container-card{
    display: grid;
    grid-template-rows: 40% 20%;
}

.price__cards {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
}

.price__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: center;
    transition: var(--transition);
    height: 225px;
}

.price__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}


.price__card h5 {
    font-size: 1.0rem;
    color: white;
}
.price__card p {
    margin-top:15px;
    font-size: 0.9rem;
}
.price__card small {
    font-size: 1.0rem;
    color: var(--color-light);
}


@media screen and (max-width: 768px){
    .container-price{
        gap: 5%;
        grid-template-columns: none;
     
            margin-bottom: 175px;}
    

.price__cards {
    grid-template-columns: none;
    }
    .price__card h5 {
        font-size: 1.0rem;
        color: white;
    }
    .price__card p {
        font-size: 0.9rem;
    }
    .price__card small {
        font-size: 0.8rem;
        color: var(--color-light);
    }
}